[rewrite_local]
# lite.liminalnet.com 全部请求改 UA
^https?:\/\/lite\.liminalnet\.com\/ url request-header (\r\n)User-Agent:.+(\r\n) request-header $1User-Agent: Lenna/1.0.10$2

[mitm]
hostname = lite.liminalnet.com


